* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 40px 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}
.greeting-box {
    width:100px;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px 30px; 
    margin-bottom: 20px;
    border: 5px solid #333;
}

.greeting-box h1 {
    font-size: 2.5rem;
    color: #ffffff;
}
.name-display h2 {
    font-family:cursive;
    font-weight:1000;
    font-size: 3rem;
    letter-spacing:2px;
    margin-bottom: 40px;
    padding-left: 10px;
    color: #812eab;
    text-decoration-line: underline;
    text-decoration-style: double;
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #2c2c2c;
}
.card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ffffff;
   text-decoration-line: underline;
   text-decoration-style: double;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card p {
    font-size: 0.85rem; 
    color: #b0b0b0;
    line-height: 1.6;
}
.contact {
    grid-column: 1 / -1;
}
